@import "~bootstrap/scss/bootstrap";

body {
  background-color: silver;
  font-family: 'Kanit', sans-serif;
}
#auth-div {
  text-align: center;
  #site-header {
    font-size: 5em;
  }
  #edition {
    font-size: 3em;
    font-family: 'Pangolin', cursive;
  }
  #google-auth{
    #google-img {
      width: 100%;
    }
  }
  #snoopy-left {
  display: none;
  /* large screens */
  @media all and (min-width: 768px) {
    display: block;
    width: 100%;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    }
  }
  #snoopy {
    width: 100%;
  }
}

a:hover {
  cursor: pointer;
}
.hide {
  display: none;
}

.editable {
  border: 1px solid #ced4da;
  border-radius: .25rem;
  background-color: gold;
}