@import "~bootstrap/scss/bootstrap";

body {
  background-color: silver;
  font-family: 'Kanit', sans-serif;
}

a:hover {
  cursor: pointer;
}
.hide {
  display: none;
}

.editable {
  border: 1px solid #ced4da;
  border-radius: .25rem;
  background-color: gold;
}