body {
  justify-content: center;
  margin: auto;
}

#messages-page {
  height: 100%;
}

#messageBoard {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 10px;
  width: 60%;
  margin: auto;
  margin-top: 15px;
  align-self: center;
  padding-top: 15px;
  height: 80vh;
  overflow-y: auto;
}

#messageInputDiv {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 10px;
  width: 60%;
  margin: auto;
  margin-top: 15px;
  align-self: center;
  padding-top: 15px;
  height: 80%;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

#messageInputField {
  width: 80%;
  border-radius: 8px;
}

#messageSubmitButton {
  align-self: right;
  margin-left: 8px;
}

.col-12 {
  display: flex;
}

.message {
  max-width: 255px;
  word-wrap: break-word;
  margin-bottom: 3px;
  line-height: 24px;
  position:relative;
	padding:10px 20px;
  border-radius:25px;
  text-align: left;
}

.userName {
  font-size: .8em;
  margin: 0;
  text-align: left;
}

.timestamp {
  font-size: .8em;
  margin: 0;
  text-align: right;
}

.from-me {
  color:white; 
  background:#0B93F6;
  align-self: flex-end;
  text-align: left;
}

.from-them {
  background:#E5E5EA;
  color:black;
}

.from-me-message {
  justify-content: flex-end;
}