body {
  justify-content: center;
  margin: auto;
}

#messageBoard {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 10px;
  width: 60%;
  margin: auto;
  margin-top: 15px;
  align-self: center;
  padding-top: 15px;
}

.col-12 {
  display: flex;
}

.message {
  max-width: 255px;
  word-wrap: break-word;
  margin-bottom: 12px;
  line-height: 24px;
  position:relative;
	padding:10px 20px;
  border-radius:25px;
}

.from-me {
	color:white; 
	background:#0B93F6;
  align-self: flex-end;
  text-align: left;
}

.from-them {
	background:#E5E5EA;
  color:black;
}