#add-event-button {
  display: block;
  margin: auto;
  margin-top: 3em;
  margin-bottom: 3em;
  width: 10em;
}

#events-new-form {
  text-align: center;
}

table {
  margin: auto;
  text-align: center;
  width: 95%;
  @media (min-width: 768px) {
    width: 80%;
  }
  @media (min-width: 992px) {
    width: 60%;
  }
  th, td {
    border-bottom: 1px solid #ddd;
    padding-top: 1em;
    padding-bottom: 1em;
  }
  #events-header {
    background-color:  lightgreen;
  }
  #past-events-header {
    background-color: lightcoral;
  }
  .event-row:hover {
    background-color: #ddd;
  }
  .past-event-edit {
    visibility: hidden;
  }
}